html, body  {
	height: 100%;
	margin: 0px;
  }

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.leaflet-container input {
    margin-bottom: inherit;
}

.leaflet-container button {
    display: inherit;
    height: inherit;
    width: inherit;
    padding: inherit;
    box-sizing: inherit;
}

.leaflet-container th, .leaflet-container td {
    padding: inherit;
    border-bottom: inherit;
}

.leaflet-container h2, .leaflet-container h3 {
    line-height: inherit;
    letter-spacing: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    font-weight: inherit;
}
